    <div class="container">
      <h2>Minhas Séries</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Série</th>
            <th>Temporada</th>
            <th>Episódio</th>
            <th>Tag</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3">Nenhum registro encontrado</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- jQuery (necessary for Boottrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- handlebars -->
    <script src="js/handlebars.js"></script>
    <script  src="js/localStorage.js"></script>
    <script src="js/salvo.js"></script>
    <script id="source" type="text/x-handlebars-template">
      {{#assistido}}
        <tr>
          <td>{{nome}}</td>
          <td>{{tempor}}</td>
          <td>{{ep}}</td>
          <td>{{avaliacao}}</td>
        </tr>
      {{/assistido}}
    </script>

    <script>
      if (Salvo.existe('assistido')) {
        var source   = document.querySelector("#source").innerHTML;
        var template = Handlebars.compile(source);
        var html = template({
          assistido: Salvo.carrega('assistido')
        });
        document.querySelector('tbody').innerHTML = html;
      }
</script>

<div class="form-group">
  <label for="pesquisa">Pesquisa</label>
  <input type="text" class="form-control"
          id="pesquisa" name="pesquisa" required
          placeholder="Dígite o nome da série">
  <button onclick="pesquisa()">
    Pesquisar
  </button>
</div>
<script src="js/pesquisa.js"></script>